* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
header #gnb {
    width: 100%;
    height: 30px;
    border: 1px solid #000000;
    background-color: #808080;
}
header #gnb ul {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}
header #gnb li {
    line-height: 30px;
    float: left;
    margin-left: 40px;
    list-style: none;
    color: #ffffff;
}
#logo_hit {
    margin: 0 auto;
    width: 1000px;
    height: 300px;    
    position: relative;
}
#logo {
    width: 200px;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #000000;
    margin: 70px auto;
}
#hit {
    position: absolute;
    bottom: 3px;
    right: 0;
    overflow: hidden;
}
#hit li {
    float: left;
    width: 70px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align:center;
    list-style: none;
    margin: 0;
    border: 1px solid #000000;
}
#hit li:nth-child(1) {
    border-radius: 10px 0 0 10px;
}
#hit li:nth-child(4) {
    border-radius: 0 10px 10px 0;
}
#menu {
    width: 100%; height: 30px;
    overflow: hidden;
    border-top: 1px dashed #000000;
    border-bottom: 1px solid #000000;
    padding: 5px;
}
#menu ul {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
#menu li {
    line-height: 25px;
    list-style: none;
    float: left;
    margin: 0 35px;
}
div.container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
#banner div:nth-child(1) {
    margin-top: 5px;
    float: left;
    width: 700px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    border: 1px solid #000000;
    box-sizing: border-box;
}
#banner div:nth-child(2) {
    margin-top: 5px;
    float: left;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    border: 1px solid #000000;
    box-sizing: border-box;
}
#hit_product div {
    margin-top: 5px;
    float: left;
    width: 250px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    border: 1px solid #000000;
    box-sizing: border-box;
}
#md_product div {
    margin-top: 5px;
    float: left;
    width: 250px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    border: 1px solid #000000;
    box-sizing: border-box;
}
footer {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
footer div {
    float: left;
    height: 150px;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
    line-height: 150px;
    margin-top: 10px;
}
footer div.logo, .address, .info {
    width: 333.3px;
}
footer div.copyright {
    width: 1000px;
    height: 100px;
    line-height: 100px;
    background-color: #808080;
    clear: both;
}